<div class="per_store">
    <div class="title">
        <%= stores.title %>
    </div>
    <div class="content clearfix">
        <div class="image">
            <% if store.store_images.first.image? %>
                <%= image_tag stores.store_images.first.image.url %>
            <% end %>
        </div>
      <div>
        <div class="genres">
            <%= render 'stores/genre_list' %>
        </div>
      </div>
     </div>
</div>